<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts : </h1>
    <% for( post of posts ) { %>
        <div class="post-container">
            <p><%= post.username %></p>
            <p>Post ID : <%= post.id %></p>
            <div class="post-content">
                <p><%= post.content %></p>
            </div>

            <div class="post-actions">
                <a href="/posts/<%= post.id %>">See In Detail</a>
                <a href="/posts/<%= post.id %>/edit">Edit Post</a>
            </div>

            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button>Delete Post</button>
            </form>
        </div>

    <% } %>

    <a href="/posts/new" class="create-link">Create New Post</a>
</body>
</html>